body {
    font-family: sans-serif;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

#text-input {
    width: 80%;
    height: 150px;
    padding: 10px;
    margin: 20px auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical; /* Ermöglicht das manuelle Anpassen der Größe */
    overflow-y: auto; /* Füge vertikalen Scrollbalken hinzu, wenn der Text zu lang ist */
}
#speak-button {
    width: 150px;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#speak-button:hover {
    background-color: #005f7f;
}
